<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>編集</ion-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <!-- <ion-button color="light" outline size="large" [routerLink]="'/chat'">
      <ion-icon name="chatbubbles"></ion-icon>
      チャットのスタート
    </ion-button> -->
  </div>

  <ion-spinner name="dots" *ngIf="userList.length === 0"></ion-spinner>
  <ion-list>
    <ion-list-header>グループ１</ion-list-header>
    <ion-item *ngFor="let user of userList" class="user-item">
      <ion-avatar slot="start">
        <img [src]="user.avatarURL" alt="" />
      </ion-avatar>
      <ion-label class="label-user-info">
        <h4>{{ user.name }}</h4>
        <p>ここには説明というか最近のものを記載</p>
      </ion-label>
      <div class="user-presence">
        <ion-icon
          [class.user-online]="isOnline(user)"
          name="radio-button-on"
        ></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
